
body {
    margin: 0;
    background: black;
}
h1 {
    color: white;
    padding: 10px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    color: white;
}
.grid {
    display: grid;
    grid-template-areas: 
    "navbar"
    "homebio"
    "pagecards"
    "pagefoot"
    ;
    
}
/* Dropdown nav btn */
.navbar {
    position: fixed;
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: black;
    z-index: 10;
    text-align: center;
}
.dropnav {
    display: inline-block;
    align-self: flex-end;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 1rem; /*lol, same thing I know*/
    font-family: 'Courier New', Courier, monospace;
    margin-right: 15px;
    margin-bottom: 5px;
}
.droplinks {
    right: 0;
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.droplinks a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropnav:hover .droplinks {
    display: block;
}


/* .homebio {
    border: 2px solid red;
    position: relative;
    margin-top: 150px;
    grid-area: homebio;
    height: 320px;
    display: flex;  
    padding: 5%;
    background: black;
} */

.homebio {
    position: relative;
    margin-top: 150px;
    margin-right: 5px;
    grid-area: homebio;
    height: 320px;
    display: flex;  
    /* padding: 5%; */
    background: black;
}

 .homebio p {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 15px;
    text-align: center;
}

.homebio img {
    padding: 10px;
    object-fit: cover;
}

.biodetails {
    height: 100%;
    color: white;
}

/* Card Styles */
.pagecards img {
    max-height: 280px;
    width: 100%;
    grid-area: pagecards;
    justify-content: space-evenly;
    filter: brightness(0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: ivory;
}
.pagecards h2 {
    position: absolute;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    z-index: 3;
}
.pagecards p {
    position: absolute;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    z-index: 2;
    margin-top: 200px;
}


.pagefoot {
    grid-area: pagefoot;
    height: 150px;
    background: black;
}

