
body {
    margin: 0;
    max-width: 480px;
    background: black;
}

h1 {
    color: white;
    padding: 10px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: white;
}

.grid {
    display: grid;
    grid-template-areas: 
    "navbar"
    "homebio"
    "pagecards"
    "pagefoot"
    ;
    
}

/* Dropdown nav btn */
.navbar {
    position: fixed;
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: black;
    z-index: 10;
    text-align: center;
}

.dropnav {
    display: inline-block;
    align-self: flex-end;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 1rem; /*lol, same thing I know*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 15px;
    margin-bottom: 5px;
}

.droplinks {
    right: 0;
    display: none;
    position: absolute;
    background-color:black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.droplinks a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropnav:hover .droplinks {
    display: block;
}

/* Bio Styles */
.homebio {
    position: relative;
    margin-top: 150px;
    margin-right: 5px;
    grid-area: homebio;
    height: 320px;
    display: flex;  
    background: black;
    max-height: 100%;
}

 .homebio p {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 15px;
    margin-top: 20px;
    text-align: center;
}

.homebio img {
    padding: 10px;
    object-fit: cover;
}

.biodetails {
    height: 100%;
    color: white;;
}

/* Card Styles */
.pagecards img {
    max-height: 280px;
    width: 100%;
    grid-area: pagecards;
    justify-content: space-evenly;
    filter: brightness(0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: cover;  
}

.pagecards h2 {
    position: absolute;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    z-index: 3;
}

.pagecards p {
    position: absolute;
    width: 480px;
    max-width: 100%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 5px;
    z-index: 2;
    margin-top: 180px;
}

.pagefoot {
    grid-area: pagefoot;
    height: 50px;
    background: black;
}

@media only screen and (min-width: 900px) {

 .homebio {
    position: relative;
    margin-top: 150px;
    margin-right: 5px;
    grid-area: homebio;
    height: 320px;
    width: 100%;
    display: flex;  
    /* padding: 5%; */
    background: black;
} 
    
.homebio p {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 15px;
    text-align: center;
    margin-top: 50px;
}

.pagecards {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.pagecards h2 {
    position: absolute;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    z-index: 3;
}

.pagecards p {
    position: relative;
    bottom: 10px;
}

.pagecards img {
    position: absolute;
    width: 40%;
    height: 100%;
    object-fit: cover;
    height: 100%;
    top: 20px;
}

.blogcard h2 {
    top: 10px;
}

}