@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat+Subrayada&family=VT323&display=swap');

:root {
    --tech-header: 'Montserrat Subrayada', sans-serif;
    --tech-body: 'VT323', monospace;
    --whimsical: 'Amatic SC', cursive;
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

h1, h2, button {
    text-transform: capitalize;
}

h1 {
    font-family: var(--whimsical);
    font-size: 52px;
    margin: 0;
    margin-top: 8px;
}

h2 {
    font-family: var(--tech-body);
    font-size: 32px;
    margin-bottom: 1em;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: var(--tech-body);
    font-size: 24px;
    border: 3px solid slategray;
    border-radius: 2em;
    background: none;
    margin-bottom: 1em;
    width: 5em;
    height: 2em;
}

button:hover,
button:focus {
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    transition: ease-in-out .3s;
}

.forest-scene img {
    height: auto;
}