body {
    background: black;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color: white;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
}
a {
    color: greenyellow;
    font-size: 20px;
}
.outoforder {
    text-align: center;
    margin-top: 400px;
}

@media only screen and (min-width: 900px) {
    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
        color: white;
    }
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        color: white;
    }
}